:local {
  .container {
    position: fixed;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin-top: 24px;
    background: rgb(219, 219, 219);
  }

  .window {
    border: .3em solid rgb(80, 80, 80);
    border-radius: .5em;
    background: #fff;
    overflow: auto;
    width: 50vw;
    height: 50vh;
    min-width: 40vw;
    min-height: 30vh;
    resize: both;
  }
}
