:local {
	.container {
		position: fixed;
		text-align: left;
		width: 100vw;
		height: 100vh;
		margin-top: 24px;
		background: rgb(219, 219, 219);
		display: inline;
	}
	.window {
		width: min-content;
		height: min-content;
		display: inline;
		padding: 0;
		border: 0;
		margin: 0;
	}
	.barV {
		display: inline-block;
		width: .2vw;
		height: .5vh;
		padding: 0;
		background-color: rgb(109, 109, 109);
		margin: 0;
		cursor: ew-resize !important;
		user-select: auto;
	}
}
