:local {
	.container {
		position: fixed;
		text-align: center;
		width: 100vw;
		height: 100vh;
		margin-top: 24px;
		background: rgb(219, 219, 219);
	}
	.window {
		width: min-content;
		height: min-content;
	}
	.barV {
		width: 0;
		height: 0;
		padding: 0;
		margin: 0;
	}
}
