:local {
	.main {
		background: #fff;
		width: inherit;
		height: inherit;
	}
	.canvas {
		float: right;
		width: inherit;
		height: inherit;
	}
	.bar {
		background: #eee;
		width: 100%;
		height: 5vh;
	}
}
