@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232C39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, .5) 10%, rgba(0, 1, 127, .7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

nav {
  position: fixed;
  padding: 0 .2em;
  color: #0d4080;
  background-color: rgba(255, 255, 255, 0.774);
  width: 100%;
  user-select: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  padding: .2em .5em;
  transition: all .3s;
}

li:hover  {
  color: #4287db;
  text-shadow: 0 0 1em rgba(54, 138, 255, 0.548);
}

.cl,.cl:hover {
  background-color: #0d4080;
  color: rgba(255, 255, 255, 0.774);
}

li ul {
  height: 0;
  overflow: hidden;
  width: min-content;
  position: fixed;
  padding: 0;
  margin: 0;
  background: #0d4080;
  color: rgba(255, 255, 255, 0.774);
  transition: height .3s;
}
li ul li {
  padding: .15em 0;
}

.clb {
  height: min-content;
  padding: .3em;
  margin: .2em -.5em 0;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
