[Desktop Entry]
Type=Application
Name=Newlogic
Exec=newlogic
TryExec=newlogic
Terminal=false
Categories=Application;Desktop;Education;
Icon=/usr/lib/node_modules/newlogic/icon.png
